*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --max-width: 968px;
    --bg: #333;
    --txt: #c0c0c0;
}
body{
    background: var(--bg);
    color: var(--txt);
}
.container{
    min-height: 100vh;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}
a{
    text-decoration: none;
    color: var(--txt);
}